<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "Store" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-blue-100 text-gray-900">
    <nav class="bg-white shadow-md rounded-lg p-4 flex justify-between items-center mx-auto max-w-5xl">
      <h1 class="text-xl font-bold text-gray-900">Welcome to the Rails Marketplace!</h1>
      <div class="flex items-center space-x-4">
        <%= link_to "Home", root_path, class: "text-blue-600 hover:text-blue-800 font-medium" %>
        <% if authenticated? %>
          <%= button_to "Log out", session_path, method: :delete, class: "px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-700 transition" %>
        <% else %>
          <%= link_to "Login", new_session_path, class: "px-4 py-2 bg-green-500 text-white rounded-lg hover:bg-green-700 transition" %>
        <% end %>
      </div>
    </nav>

    <% if notice %>
      <div class="bg-green-100 text-green-700 p-4 text-center mt-4 mx-auto max-w-3xl rounded-md">
        <%= notice %>
      </div>
    <% end %>

    <main class="bg-white max-w-4xl mx-auto p-6 mt-6 rounded-lg shadow-md">
      <%= yield %>
    </main>
  </body>
</html>
